@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"),
    url("../fonts/Rubik-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/Rubik-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lato-Italic.woff2") format("woff2"),
    url("../fonts/Lato-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light.woff") format("woff");
  font-display: swap;
}