.toggle {
  display: none;
}

.header {
  &-top__wrapper {
    padding: 1.5rem 0 0;
    margin-bottom: 8rem;
  }

  &-top__bg {

    // width: 100%;
    // height: 100%;
    position: absolute;
    right: calc(100vw - 110%);
    top: calc(100vh - 110%);
    z-index: -1;
  }

  &__inner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    min-height: 6.25rem;
    align-items: center;
    margin-bottom: 7.1875rem;
  }

  &__logo-link {
    width: 9.375rem;
    height: 5.92125rem;
  }

  &__menu-items {
    list-style: none;
  }

  &__menu-item {
    display: inline;
    position: relative;

    &+& {
      margin-left: 2.7777777777777777rem;
    }

    &:hover,
    &:active {
      .header__menu-link {
        &:before {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $theme-color-green;
          position: absolute;
          bottom: -30%;
          right: 50%;

        }
      }
    }
  }

  &__menu-link {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $text;
    line-height: 120%;
    font-size: 1.2rem;
  }
}