.search-form {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: width 0.5s;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);

  &--open {
    max-width: 330px;
    width: 100%;

    &:before {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .search-form__input {
      max-width: 300px;
      width: 100%;
      transition: width 0.5s;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    right: 28px;
    height: 60px;
    width: 0;
    float: left;
    font-size: .8rem;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    border: none;
    padding-left: 20px;
    color: $theme-color-green;
    transition: width 0.5s;
    z-index: 1;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border: none;
    border-radius: 30px;
    color: $text;
    outline: transparent;
    cursor: pointer;
    font-size: 0;
    z-index: 1;

    .fa-search {
      font-size: 1rem;
      color: $text;
    }
  }
}